/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Futura', 'Arial', sans-serif;
  font-weight: 300;
  line-height: 1.6;
  color: #443E35; /* Old Moss */
  
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background: #8A9EA0; /* Model Plane */
  color: #f2f4ed;
  padding: 15px;
  font-weight: lighter;
  letter-spacing: 1px;
}

header .TitleTAG {
  flex: 1 100%;
  text-align: left;
  font-weight: 500;
  margin-bottom: 10px;
}

header .nav {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  gap: 20px;
}

header .login {
  flex: 1;
  margin-left: auto;
}

footer {
  background: #8A9EA0; /* Model Plane */
  color: #f2f4ed;
  text-align: right;
  padding: 15px;
  font-size: 14px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.container {
  display: flex;
  height: calc(100vh - 70px); /* Account for header and footer height */
}

.sidebar {
  background: #B5C6BD; /* Mushroom */
  width: 110px; /* Reduced width */
  padding: 15px;
  border-right: 3px solid #6B6B5F;
}

.sidebar ul {
  list-style: none;
}

.sidebar a {
  color: #443E35; /* Old Moss */
  text-decoration: none;
  display: block;
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 500;
}

.main {
  flex: 1;
  padding: 25px;
  overflow-y: auto;
  background: #8A9EA0; /* Subtle Light */
 
}

.grid-item {
  display: grid;
  grid-template-columns: 1fr; /* Single column for responsive */
  gap: 15px;
  padding-bottom: 15px;
  margin-bottom: 25px;
  border-bottom: 1px solid #B5C6BD;
}

.compartment {
  background: #8A9EA0; /* Model Plane */
  padding: 20px;
  text-align: left;
  font-size: 16px;
  font-weight: 100;
  border: 1px solid #6B6B5F;
  color: #41454D;
  border-radius: 2px;
}

.login-form {
  display: flex;
  gap: 10px;
  align-items: center;
  background: #B5C6BD; /* Mushroom */
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #6B6B5F;
}

.login-form input {
  padding: 5px;
  border: 1px solid #6B6B5F;
  border-radius: 3px;
  font-size: 14px;
  background-color: #f2f4ed;
  color: #443E35;
}

.login-form button {
  padding: 5px 10px;
  background: #6B6B5F;
  color: #f2f4ed;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  cursor: pointer;
  transition: background 0.3s;
}

.login-form button:hover {
  background: #443E35;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    border-right: none;
    border-bottom: 3px solid #6B6B5F;
  }

  .grid-item {
    grid-template-columns: 1fr;
  }
}
