/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  color: #111;
  background-color: #fff;
}

header {
  background: #000;
  color: #fff;
  padding: 10px;
  text-align: center;
  font-weight: bold;
}

footer {
  background: #000;
  color: #fff;
  text-align: center;
  padding: 10px;
  font-size: 14px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.container {
  display: flex;
  height: calc(100vh - 60px); /* Account for header and footer height */
}

.sidebar {
  background: #f4f4f4;
  width: 200px;
  padding: 10px;
  border-right: 1px solid #ddd;
}

.sidebar ul {
  list-style: none;
}

.sidebar a {
  color: #000;
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
}

.main {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.grid-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  margin-bottom: 20px;
}

.compartment {
  background: #eaeaea;
  padding: 20px;
  text-align: center;
  font-size: 14px;
  border: 1px solid #ddd;
}
